@font-face {
	font-family: 'iconfont';
		src: url("../font/iconfont.ttf?t=1624623129098") format('truetype');
}
.iconfont{
	font-family: "iconfont" !important;
	font-size: 16px;
	font-style: normal;
	-webkit-font-smoothing: antialiased;/*300*730*/
	-moz-osx-font-smoothing: grayscale;
}