input[type="range"]{ 
    /*margin-top: 8px;/*上部分的填充值*/
    outline: none; 
    -webkit-appearance: none;/*清除系统默认样式*/  
    /*width:100% !important;*/  
    background: -webkit-linear-gradient(#a3b3ce, #a3b3ce ,#a3b3ce,#a3b3ce) no-repeat, #d0d8e6;  /*背景颜色，俩个颜色分别对应上下，自己尝试下就知道了嗯*/
    border-radius: 5px;
    background-size: 0% 100%;/*设置左右宽度比例*/ 
    height: 5px;/*横条的高度，细的真的比较好看嗯*/  
} 
 /*拖动块的样式*/  
input[type="range"]::-webkit-slider-thumb {  
    -webkit-appearance: none;/*清除系统默认样式*/  
    height:12px;/*拖动块高度*/  
    width: 12px;/*拖动块宽度*/  
    background: #a3b3ce;/*拖动块背景*/ 
    border-radius: 50%; /*外观设置为圆形*/ /*设置边框*/  
}

input[type="range"]::-ms-fill-lower {
    /*进度条已填充的部分*/
    background: linear-gradient(to right, #059CFA, white 100%, white);
}

input[type="range"]::-ms-fill-upper {
    /*进度条未填充的部分*/
    background: #ffffff;
}

input:[type="range"]:focus::-ms-fill-lower {
    background: linear-gradient(to right, #059CFA, white 100%, white);
}

input:[type="range"]:focus::-ms-fill-upper {
    background: #ffffff;
}

